/* Mengatur Margi & Padding Body Agar 0 */
body {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background-color: rgb(239, 241, 243);
}

/* Mengatur Navbar */

/* Mengatur Navbar Sebelah Kiri */
nav {
    display: flex;
    background-color: rgb(222, 225, 228);
    align-items: center;
    height: 10vh;
    margin-bottom: 40px;
}

nav div {
    flex: 50%;
    align-items: center;
}

nav .left-side {
    display: flex;
    padding-left: 50px;
}

nav .left-side img {
    margin-left: 10px;
    box-sizing: border-box;
}

nav li {
    list-style-type: none;
    margin-left: 10px;
}

nav ul a {
    text-decoration: none;
    color: black;
}

nav ul li {
    display: inline;
    margin-left: 10px;
}

/* Mengatur Navbar Sebelah Kanan */
nav .right-side {
    display: flex;
    justify-content: flex-end;
    padding-right: 90px;
}

nav .right-side a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(233, 159, 1);
    color: white;
}

/* Mengatur Konten */

.content {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 70%;
    margin: 20px;
    height: 550px;
    border: 1px solid rgb(231, 221, 221);
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.container .left-content {
    padding: 80px;
    align-self: center;
    font-size: 25px;
    text-align: justify;
}

.left-content .contactcv {
    margin-bottom: 25px;
}

.contactcv a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.contactcv .contact {
    color: white;
}

.contact {
    padding: 5px 15px;
    border: 1px solid rgb(233, 159, 1);
    background-color: rgb(233, 159, 1);
    border-radius: 10px;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    cursor: pointer;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    cursor: pointer;
}

.fa-instagram {
    background: #125688;
    color: white;
    cursor: pointer;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    cursor: pointer;
}

.container .right-content {
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    box-sizing: border-box;
}

.right-content img {
    justify-content: center;
    width: 350px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.right-content table {
    border: rgb(0, 0, 0, );
    border-collapse: collapse;
}

/* Mengatur Style Kolom Formulir */

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    width: 400px;
    border: 1px none;
    border-radius: 10px;
}

form input {
    margin-bottom: 10px;
    border: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5px;
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
}

form select {
    margin-bottom: 10px;
    border: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 8px;
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
}

form textarea {
    margin-bottom: 25px;
    border-radius: 10px;
    /* border: rgba(0, 0, 0, 0.5); */
    padding: 5px;
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
    resize: none;
}

form .submit-button {
    display: flex;
    justify-content: flex-end;
}

form button {
    width: 70px;
    padding: 5px;
    border: 1px none;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(245, 143, 11);
    color: white;
    cursor: pointer;
    font-size: 15px;
}

/* Blog Form */
.blog-form {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.blog-form .form-container {
    width: 500px;
}

.blog-form .form-container h1 {
    text-align: center;
    margin-bottom: 40px;
}

.blog-form form label {
    font-size: 20px;
    font-weight: 400;
}

.blog-form form input,
textarea,
select {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
}

.blog-form form #input-blog-start-date {
    /* color: transparent; */
    width: 48%;
}

.blog-form form #input-blog-end-date {
    /* color: transparent; */
    width: 48%;
}

.blog-form form #input-blog-start-date:focus::-webkit-datetime-edit {
    color: black !important;
}

.blog-form form #input-blog-end-date:focus::-webkit-datetime-edit {
    color: black !important;
}

.blog-form form .input-blog-date {
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    /* padding: 8px; */
    /* margin-top: 5px; */
    /* margin-bottom: 20px; */
    background: #f4f3f3;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #c4c4c4; */
    border-radius: 8px;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox label {
    width: 50px;
    padding: 10px;
    margin-bottom: 20px;
}

.blog-form form textarea {
    height: 250px;
}

.blog-form form .input-blog-image-group {
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    cursor: pointer;
}

.blog-form form .input-blog-image-group label p {
    font-size: 15px;
}

.blog-form form .input-blog-image-group label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-form form .button-group {
    text-align: right;
}

.blog-form form button {
    margin-top: 50px;
    padding: 8px 20px;
    font-size: 17px;
    background: #ec4d37;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.blog hr {
    border: 1px solid #dbdbdb;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

/* Blog list */

.blog .blog-list {
    /* margin-top: 80px; */
    /* margin-bottom: 80px; */
    margin: 80px;
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.blog .blog-list .blog-list-item {
    width: 30%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #dbdbdb;
    border-radius: 8px;
    /* display: flex; */
}

.blog .blog-list .blog-list-item .blog-image {
    flex: 1;
}

.blog .blog-list .blog-list-item .blog-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.blog .blog-list .blog-list-item .blog-content {
    padding-left: 20px;
    flex: 1;
}

.blog .blog-list .btn-group {
    text-align: center;
    margin-bottom: 20px;
}

.blog .blog-list .btn-group .btn-edit {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background: #dbdbdb;
    width: 45%;
}

.blog .blog-list .btn-group .btn-post {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background: #ec4d37;
    color: #fff;
    width: 45%;
}

.blog .blog-list h1 a {
    text-decoration: none;
    color: #000000;
}

.blog .blog-list .detail-blog-content {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
}

.blog .blog-list .blog-list-item p {
    margin-top: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

/* Blog Detail */
.blog-detail {
    display: flex;
    justify-content: center;
}

.blog-detail-container {
    width: 80%;
    margin: 40px 0;
}

.blog-detail-container img {
    width: 50%;
}

.blog-detail-container h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 15px;
}

.blog-detail-container .author {
    font-weight: 100;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 20px;
}

.blog-detail-container p {
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: justify;
}